<ion-content>

  <ion-card>
    <ion-card-header>
      <div class="login-content">
        <img src="../assets/itrack4pslogo.png" alt="">
        <img src="../assets/ITrack4ps.png" alt="">
      </div>
    </ion-card-header>
      <ion-label>
      Let’s login for explore continues
      </ion-label>
      <!-- Login Form -->

      <ion-list >
        <form [formGroup]="forgot" (ngSubmit)="saveDetails()">
        <!-- Email Form -->
        <ion-input formControlName="email" type="email" label="Email Address" label-placement="floating" fill="outline" placeholder="Enter your Email"></ion-input>
        <!-- Error Message -->
        <div *ngIf="(forgot.get('email').invalid && (forgot.get('email')).touched) || (forgot.get('email')).dirty">
          <small *ngIf="(forgot.get('email')).errors?.['required']">Email is required</small>
          <!--question mark(?) is a safe navigation operator-->
          <small *ngIf="(forgot.get('email')).errors?.['pattern']">Please provide a valid email address</small>
        </div>
      </form>
      </ion-list>

      <ion-button expand="block" routerLink="/login" [disabled]="!forgot.valid" type="submit" (click)="saveDetails()">Login</ion-button>

      <ion-label class="sign-up">
        Back to <a routerLink="/login"> Login</a>
      </ion-label>
    </ion-card>
</ion-content>
