*{
  font-family: lato;
}


.sidenav-header-bg{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidenav-content{
  width: fit-content;
  img{
    margin-left: 1rem;
    width: 3rem;
  }
}

.sidenav-content-2{
  width: fit-content;
  img{
    width: 10rem;
  }
}
ion-menu ion-content{
  --background: var(--ion-color-primary);
  margin-left: 1rem;
  margin-right: 1rem;

}
.nav{
  padding-left: 10px;
  padding-right: 10px;
}


ion-item{
  --background: #ffffff;
  --border-radius: 40px;
  --ion-text-color: #68778D;
  padding-bottom: 10px;
}
ion-icon{
  color: #68778D
}


.active {
  --background: #6C5DD3;
  --ion-text-color: #ffffff;
  ion-icon{
    color: #ffffff;
  }
}








