*{
  font-family: 'Roboto', sans-serif;
}

//Header Design
.sidenav-header-bg{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidenav-content{
  width: fit-content;
  img{
    margin-left: 1rem;
    width: 3rem;
  }
}

.sidenav-content-2{
  width: fit-content;
  img{
    width: 10rem;
  }
}
//End Header Design


//SideNav Design
ion-menu ion-content{
  --background: var(--ion-color-primary);
}

