

<ion-buttons slot="start" color="primary">
  <ion-menu-button></ion-menu-button>

</ion-buttons>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-menu-button slot="start" color="white"></ion-menu-button>
  <ion-title>
    <h1>Beneficiary Form</h1>
  </ion-title>
  <ng-container [ngSwitch]="currentStep">
    <app-personaldetails *ngSwitchCase="1" (nextStep)="goToStep2($event)"></app-personaldetails>
    <app-educationalbackground *ngSwitchCase="2" [formData]="formData" (previousStep)="goToStep1()" (nextStep)="goToStep3($event)"></app-educationalbackground>
    <app-confirmation *ngSwitchCase="3" [formData]="formData" (previousStep)="goToStep2($event)" (nextStep)="goToStep4($event)"></app-confirmation>
    <app-success *ngSwitchCase="4" [formData]="formData" (previousStep)="goToStep3($event)"></app-success>

  </ng-container>

</ion-content>

