

<ion-buttons slot="start" color="primary">
  <ion-menu-button></ion-menu-button>

</ion-buttons>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-menu-button slot="start" color="white"></ion-menu-button>
  <ion-title>
    <h1>Beneficiary Form</h1>
  </ion-title>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>Personal Details</h2>
      </ion-card-title>
    </ion-card-header>
      <!-- Login Form -->
      <ion-list>
        <ion-input type="text" label="Full Name" label-placement="floating" fill="outline" placeholder="Enter your Full Name"></ion-input>
        <ion-input type="email" label="Email Address" label-placement="floating" fill="outline" placeholder="Enter your Email Address"></ion-input>
        <ion-input type="password" label="Password" label-placement="floating" fill="outline" placeholder="Enter your Password"></ion-input>
        <ion-input type="text" label="Household ID" label-placement="floating" fill="outline" placeholder="Enter your Household"></ion-input>
        <ion-text routerLink="/forgot">
          Forgot Password?
        </ion-text>
      </ion-list>
      <ion-button expand="block" routerLink="/login">Create</ion-button>
      <ion-label class="sign-up">
        Already have an account?  <a routerLink="/login"> Login Here</a>
      </ion-label>
    </ion-card>
</ion-content>

