
<ion-buttons slot="start" color="primary">
  <ion-menu-button></ion-menu-button>

</ion-buttons>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-menu-button slot="start" color="white"></ion-menu-button>
  <ion-title>
    <h1>Profile Setting</h1>
  </ion-title>
  <ng-container [ngSwitch]="currentStep">
    <app-updateform *ngSwitchCase="1" (nextStep)="goToStep2($event)"></app-updateform>
    <app-updatesucccess *ngSwitchCase="2"  (previousStep)="goToStep1()"></app-updatesucccess>
  </ng-container>
</ion-content>

