

<ion-buttons slot="start" color="primary">
  <ion-menu-button></ion-menu-button>

</ion-buttons>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-menu-button slot="start" color="white"></ion-menu-button>
  <ion-title>
    <h1>Profile Setting</h1>
  </ion-title>
  <ion-card>
      <!-- Profile Details -->
      <ion-list>
        <ion-input type="text" [(ngModel)]="formData.name"  label="Full Name" label-placement="floating" fill="outline" placeholder="Enter your Full Name"></ion-input>
        <ion-input [(ngModel)]="formData.email" type="email" label="Email" label-placement="floating" fill="outline" placeholder="Enter your Email"></ion-input>
        <ion-input [(ngModel)]="formData.fName" type="password" label="Password" label-placement="floating" fill="outline" placeholder="Enter your Password"></ion-input>
        <ion-input [(ngModel)]="formData.mName" type="password" label="Mother's Name" label-placement="floating" fill="outline" placeholder="Enter your New Password"></ion-input>
      </ion-list>
      <ion-button expand="full" (click)="submit">Update</ion-button>
    </ion-card>
</ion-content>

