<ion-card>
  <ion-card-header>
    <ion-card-title>Confirmation</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p><strong>Name:</strong> {{ formData.name }}</p>
    <p><strong>Birth:</strong> {{ formData.datebirth }}</p>
    <p><strong>Gender:</strong> {{ formData.gender }}</p>
    <p><strong>Email:</strong> {{ formData.email }}</p>
    <p><strong>Address:</strong> {{ formData.address }}</p>
    <p><strong>Father's Name:</strong> {{ formData.fName }}</p>
    <p><strong>Mother's Name:</strong> {{ formData.mName }}</p>
  </ion-card-content>
  <ion-button expand="full" (click)="goToPreviousStep()">Back</ion-button>
  <ion-button expand="full" (click)="goToNextStep()">Submit</ion-button>

</ion-card>

